---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="Sobre mí"
	description="Hola, soy Angello"
	pubDate={new Date('Mayo 30 2024')}
	heroImage="https://i.ibb.co/YDqYs23/angellonz-2.jpg"
>
	<p>
		Mi nombre completo es Angello Valdemar Nunez Gutierrez. Nací el 27 de septiembre de 1997 en Lima, Perú. No lloré y, frente al miedo de mi madre, el doctor me dio una nalgada para calmarla. Sufrí desde mi primer día en el mundo. Fui criado en una familia luchadora, pero humilde. Con muchos privilegios y, al mismo tiempo, muchas carencias. Un chico de clase media común y corriente.
	</p>

	<p>
		Estudíe en un nido pequeño y bonito en San Miguel. Tuve la mala suerte de tener un hermano, con quien convivo hasta el día de hoy. Mi madre nos crió sola, mi padre no estuvo presente en mi vida hasta que fui adolescente y, cabe resaltar, no viví físicamente con él hasta que me mudé a Estados Unidos. Mis abuelos maternos fueron el mayor apoyo económico que tuvo mi madre y mis tíos fueron mis figuras paternas. 
	</p>
	<p>
		Mi abuelo había comprado una casa en Surco, así que nos mudamos a ella cuando yo terminé mi formación en el nido. Mis años de primaria y secundaria quedaron como buenos recuerdos. Tuve muy buenos amigos y mantengo muchas amistades de esos años. ¡Algunos de ellos me visitaron en mi último viaje a Perú!
	</p>
	<p>
		Tuve la suerte de tener gusto por los estudios. Mis notas no fueron las mejores de la promoción, pero me iba bastante bien. Mi madre tuvo muchos problemas con los pagos del colegio y, por ello, siempre estaré agradecido por todo su esfuerzo. Debido a mis notas, pude entrar con solo una entrevista a la Pontificie Universidad Católica de Perú. La PUCP para los amigos.
	</p>
	<p>
		Esos años en la PUCP fueron maravillosos. Entré inicialmente en la carrera de Economía, pero quedé decepcionado de los conocimientos prácticos que podía obtener y, sobre todo, del potencial futuro aburrido que encontraría con dicha carrera. Frente a la crisis de no saber qué quería, investigué muchas otras carreras. Mi gusto por la tecnología estaba presente, pero no conocía el potencial profesional que existía en ese campo. Mi otro gran gusto estaba en la comprensión de las acciones irracionales de las personas, así que Psicología se volvió mi elección natural. Amé la formación que recibí en dicha facultad.
	</p>
	<p>
		Mi padre se puso en contacto con mi hermano y conmigo antes de terminar el colegio y, en ese momento, se comenzaron a mover los hilos del destino para conseguir nuestra residencia permanente en Estados Unidos. En febrero del 2020 tuvimos nuestra entrevista y nos aprobaron la visa. En marzo del 2020, el mundo se detuvo por una pandemia. Mis clases de ese ciclo fueron virtuales, algo que me encantó; pero a costa de muchas dificultades. Estuve desarrollando mi tesis y me preparaba para mi último ciclo, pero el viaje a Estados Unidos seguía pendiente. Aunque los vuelos internacionales estaban limitados, conseguimos viajar a través de un vuelo humanitario. Mi plan inicial era terminar la carrera de manera virtual, pero mi padre se estaba mudando y debía enfocarme en ganar dinero para pagar mi renta. No terminé la carrera debido a ello, algo que mi madre nunca olvidará. Quién sabe, tal vez me aventure en un futuro a terminarla.
	</p>
	<p>
		Desde entonces, han pasado casi 4 años desde que vivo en Estados Unidos. Me encuentro en New Jersey, mi segundo hogar. Trabajo como analista de datos para un banco con modalidad híbrida, estudio Ingeniería de Software en Western Governors University y tengo dos empresas en Estados Unidos: Emprezus, una comunidad de emprendimiento, y Zelandaware, una desarrolladora de aplicaciones móviles. 
	</p>
	<p>
		También adoro invertir en empresas. Además de mi pasión por la tecnología, la conducta humana y las finanzas, también adoro la naturaleza y los animales. Mi sueño es vivir en un pueblo como Huancaya rodeado de muchas mascotas extrañas. Para eso, primero debo ganar mucho más dinero. Esta es mi historia y este es mi blog personal. Aquí podrás encontrar todas mis opiniones y experiencias sobre diversos temas de mi interés. Gracias por visitar.
	</p>
</Layout>
