---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="Sobre mí"
	description="Hola, soy Angello"
	pubDate={new Date('May 30 2024')}
	heroImage="https://i.ibb.co/YDqYs23/angellonz-2.jpg"
>
	<p>
		Mi nombre completo es Angello Valdemar Nunez Gutierrez.
	</p>
</Layout>
