---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="Sobre mí"
	description="Hola, soy Angello"
	pubDate={new Date('May 30 2024')}
	heroImage="https://previews.dropbox.com/p/thumb/ACSOPZTF7T2n6GU4f5WJykeBAG4-qC1UtsVRQyPD6MIzKnxftfoWQ2IekdJqAJoqmwdkOJw6vAScCPTXdAA-y4R1p5lh3eJLjpEbpdguc8wH-cC1UDFiq4r3xs6bvo2Q0pAiND7nyLoQx4bCj41We0vnAaDvb4X4ahBTSmfLKDPnQFALlx20PQlXH1n55zPdNWwuFzbAqD9nbgM2qzxdiXROaMMQ6bqUoepn42vs0Z80JTvaBoQWFxCAAAgWnc9KPN8tCi5m5q6Z5HZVIt_J1zGw0H0x00O9q1Y0CviKYB0gzMHRfghOXyXJkAxd_Bx5XspM_1QI2d7jm7t-dkjjxNmx/p.jpeg"
>
	<p>
		Mi nombre completo es Angello Valdemar Nunez Gutierrez.
	</p>
</Layout>
