---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="Sobre mí"
	description="Hola, soy Angello"
	pubDate={new Date('May 30 2024')}
	heroImage="/blog-placeholder.jpeg"
>
	<p>
		Mi nombre completo es Angello Valdemar Nunez Gutierrez.
	</p>
</Layout>
